/*main*/
@font-face {
    font-family: HevBold;
    src: url(fonts/HelveticaNeueCyr-Bold.otf);
}
@font-face {
    font-family: HevRoman;
    src: url(fonts/HelveticaNeueCyr-Roman.otf);
}
@font-face {
    font-family: MaryKay;
    src: url(fonts/MaryKayScriptCyrillicBold.otf);
}
body{

}
.wrapper{
    width: 1250px;
    margin: 0 auto;
}
.results-inputs{
    /*border: none;*/
    background: transparent;
    color: #ed7fa6;
    font-family: 'HevBold';
    font-size: 22px;
    padding: 3px 10px;
    padding-right: 0;
    /*width: 70px;*/
}
.results-inputs-right{
    padding: 3px 0;
}
.change-inputs{
    border: 1px solid #dbdbdb;
    width: 35px;
    padding: 5px 10px;
    font-size: 20px;
}
label,
.hev-rom{
    font-family: 'HevRoman';
    margin: 0;
    padding-bottom: 20px;
}
.mary-key-design{
    display: inline-flex;
    flex-direction: column;
    /*width: 40%;*/
    padding-left: 20px;
}
.currency-rouble{
    font-size: 20px;
    color: #ed7fa6;
    font-family: 'HevBold';
}

/*headers*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-downloadplan{
    font-family: 'HevRoman';
    color: #696969;
    font-size: 16px;
}

/*calculator rose borders*/
.calculate-wrapper{
    border: 1px solid #ed7fa6;
    border-bottom: none;
}
.container-key{
    display: flex;
}

.container-key-item{
    border-bottom: 1px solid #ed7fa6;
    padding: 15px 0;
}
.container-key-item:first-child{
    width: 65%;
    border-right: 1px solid #ed7fa6;
}
.container-key-item:last-child{
    width: 35%;
}
.container-key-item-flex{
    display: flex;
    align-items: center;
}
.mary-key-design-double{
    border-bottom: 1px dashed #ed7fa6;
    margin: 0 20px;
    padding-left: 0;
    padding-bottom: 15px;
}
.mary-key-design-double2{
    padding-top: 20px;
}

/*ползунок*/
.range-container{
    width: 1250px;
    position: relative;
    margin-top: 20px;
}
.range-container-small{
    width: 500px;
    position: relative;
}
.heart-range{
    display: block;
    width: 14px;
    height: 12px;
    position: absolute;
    top: -10px;
    left: 50px;
    background: url('image/heart.png');
}
#amountDebut.heart-range{
    left: 5px;
}
#biggestdirectorActVall{
    position: absolute;
    bottom: -10px;
    left: 3px;
    font-family: 'HevRoman';
    display: inline-block;
    width: 14px;
    text-align: center;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #f0f0f0;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 10px;
    width: 113px;
    border-radius: 7px;
    background: #ed7fa6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f0f0f0;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #f0f0f0;
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 10px;
    width: 113px;
    border-radius: 7px;
    background: #ed7fa6;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #f0f0f0;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: #f0f0f0;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 10px;
    width: 113px;
    border-radius: 7px;
    background: #ed7fa6;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #f0f0f0;
}
input[type=range]:focus::-ms-fill-upper {
    background: #f0f0f0;
}


/*biggest director range*/

input#biggestdirectorAct[type='range'] {
    overflow: hidden;
    border-radius: 50px;
    /*-webkit-appearance: none;*/
    /*background-color: #9a905d;*/
}

/*input#biggestdirectorAct[type='range']::-webkit-slider-runnable-track {*/
    /*height: 10px;*/
    /*-webkit-appearance: none;*/
    /*color: #13bba4;*/
    /*margin-top: -1px;*/
/*}*/

input#biggestdirectorAct[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: -500px 0 0 490px #ed7fa6;
    background: #ed7fa6;
}

/*input#biggestdirectorAct[type="range"]::-moz-range-progress {*/
    /*background-color: #ed7fa6;*/
/*}*/
/*input#biggestdirectorAct[type="range"]::-moz-range-track {*/
    /*background-color: #9a905d;*/
/*}*/
/*input#biggestdirectorAct[type="range"]::-ms-fill-lower {*/
    /*background-color: #ed7fa6;*/
/*}*/
/*input#biggestdirectorAct[type="range"]::-ms-fill-upper {*/
    /*background-color: #9a905d;*/
/*}*/
input#biggestdirectorAct[type=range]::-webkit-slider-thumb {
    width: 20px;
}


/*BUTTONS*/
.buttons-container{
    display: flex;
    justify-content: space-between;
}
.sailer-status{
    width: 113px;
    height: 100px;
    border: none;
    font-family: 'HevBold';
    font-size: 14px;
    color: #000;
}
.sailer-status:hover{
    cursor: pointer;
}
.sailer-status[value="sailer-1"],
.sailer-status[value="sailer-2"]{
    background: #fbd6de;
}
.sailer-status[value="sailer-3"],
.sailer-status[value="sailer-4"]{
    background: #f6a0b2;
}
.sailer-status[value="sailer-5"]{
    background: #e74783;
}
/*RADIO*/
.mary-key-radiolabel{
    position: relative;
    font-size: 20px;
    padding-right: 10px;
}
.mary-key-radiolabel::after{
    content: '';
    position: absolute;
    top: 1px;
    left: -26px;
    display: block;
    width: 16px;
    height: 16px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    z-index: 1;
}
.mary-key-radiolabel::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -21px;
    display: none;
    width: 8px;
    height: 8px;
    background: #ed7fa6;
    border-radius: 50%;
    z-index: 10;
}
.radioBtn-container{
    margin-left: 6px;
}
input[name="radioBtn"]{
    position: relative;
    left: -5px;
    opacity: 0;
}
input[name="radioBtn"]:checked + .mary-key-radiolabel::before{
    display: block;
}
/*ITOG*/
.top-after-btns{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.results-inputs#base{
    font-size: 22px;
}
.base-Label{
    font-size: 22px;
    padding-right: 10px;
}
#itogLabel{
    font-family: 'MaryKay';
    font-size: 26px;
    color: #e74783;
    padding-right: 10px;
}


/*warning*/
#warning1,
#warning2
{
    padding-left: 20px;
    color: #e74783;
}


/*table*/
.table-percent,
.table-percent-biggest
{
    width: 20px;
}
.table-mary-key{
    border-collapse: collapse;
}
.table-mary-key td,
.table-mary-key th
{
    border: 1px solid #e74783;
    text-align: center;
    padding: 10px;
    font-family: 'HevRoman';
}
.table-mary-key td:first-child,
.table-mary-key th:first-child{
    border: none;
}
